.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-div {
  margin-right: 10px;
}
.nav-bar > a > img {
  width: 170px;
  object-fit: contain;
  margin: 10px;
}
